<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite">
<test name="Sample Test Case">
	<classes>
		<class name="testcases.SampleTest"></class>
	</classes>
</test>	
<test name="Uploading Pic">
	<classes>
		<class name="testcases.UploadPicTest"></class>
	</classes>
</test>	
</suite>